pipeline/GraphAPI_Pipeline.json
{
	"name": "GraphAPI_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Get_userData_from_GraphAPI",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set currentDateTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "GraphAPI",
						"type": "DatasetReference",
						"parameters": {
							"relativeURL": "beta/users"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Ingested_JSON",
						"type": "DatasetReference",
						"parameters": {
							"filesystem": "stage1np",
							"directory": {
								"value": "@concat('GraphAPI/', variables('currentDateTime'), '/Users')",
								"type": "Expression"
							},
							"file": "users.json"
						}
					}
				]
			},
			{
				"name": "Get_TeamsUserActivityDetails_from_GraphAPI",
				"description": "",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set currentDateTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "GraphAPI",
						"type": "DatasetReference",
						"parameters": {
							"relativeURL": "beta/reports/getTeamsUserActivityUserDetail(period='D7')?$format=application/json"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Ingested_JSON",
						"type": "DatasetReference",
						"parameters": {
							"filesystem": "stage1np",
							"directory": {
								"value": "@concat('GraphAPI/', variables('currentDateTime'), '/Teams_Activity_User_Detail')",
								"type": "Expression"
							},
							"file": "teamsActivityUserDetail.json"
						}
					}
				]
			},
			{
				"name": "Get_M365AppUserDetail_from_GraphAPI",
				"description": "",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set currentDateTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "GraphAPI",
						"type": "DatasetReference",
						"parameters": {
							"relativeURL": "beta/reports/getM365AppUserDetail(period='D7')/content?$format=application/json"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Ingested_JSON",
						"type": "DatasetReference",
						"parameters": {
							"filesystem": "stage1np",
							"directory": {
								"value": "@concat('GraphAPI/', variables('currentDateTime'), '/M365_App_User_Detail')",
								"type": "Expression"
							},
							"file": "m365AppUserDetail.json"
						}
					}
				]
			},
			{
				"name": "Set currentDateTime",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "currentDateTime",
					"value": {
						"value": "@{formatDateTime(convertTimeZone(utcnow(), 'UTC', pipeline().parameters.timezone), 'yyyy-MM-ddTHH-mm-ss')}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"timezone": {
				"type": "string",
				"defaultValue": "Central Standard Time"
			}
		},
		"variables": {
			"currentDateTime": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Graph API"
		},
		"annotations": [],
		"lastPublishTime": "2021-11-09T20:05:30Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}