pipeline/Intune_test_data_retrieval.json
{
	"name": "Intune_test_data_retrieval",
	"properties": {
		"activities": [
			{
				"name": "Set currentDateTime",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "currentDateTime",
					"value": {
						"value": "@{formatDateTime(convertTimeZone(utcnow(), 'UTC', pipeline().parameters.timezone), 'yyyy-MM-ddTHHmm_ss')}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "get data for each endpoint",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set currentDateTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.endpoints",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "ingest data from url",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_HTTP_Binary",
									"type": "DatasetReference",
									"parameters": {
										"URL": {
											"value": "@item.source()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_binary",
									"type": "DatasetReference",
									"parameters": {
										"filesystem": {
											"value": "@pipeline().parameters.sinkFilesystem",
											"type": "Expression"
										},
										"directory": {
											"value": "@{item().destinationDirectory}/@{variables('currentDateTime')}",
											"type": "Expression"
										},
										"file": {
											"value": "@{item().destinationFilename}",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"endpoints": {
				"type": "string",
				"defaultValue": [
					{
						"source": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/blob/main/modules/Intune/test_data/intune/devices/part-00000-c2e990cd-ac70-4d7c-8906-13bbea414bad-c000.csv",
						"destinationDirectory": "intune/test_data",
						"destinationFilename": "devices/part-00000-c2e990cd-ac70-4d7c-8906-13bbea414bad-c000.csv"
					}
				]
			},
			"sinkFilesystem": {
				"type": "string",
				"defaultValue": "stage1np"
			},
			"timezone": {
				"type": "string",
				"defaultValue": "Central Standard Time"
			}
		},
		"variables": {
			"currentDateTime": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Intune Pipeline work"
		},
		"annotations": [],
		"lastPublishTime": "2021-11-09T20:15:42Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}